<div class="container">
        
<% if params[:plan] == '2' %>       

        <div class="row text-center">
          <h1>Pro Sign Up</h1>
        </div>  
        
         <%= render"pro_form" %>
        
<% else %>

      <div class="row text-center">
        <h1>Basic Sign Up</h1>
      </div>  
  
      <%= render"basic_form" %>
  
<% end %>
        
</div><!-- End Container -->
              