<div class="container">
    <h1>How it works</h1>
    <p>We are RealMatch. Our company is focused on created an exclusive community for Home Buyers and Real Estate Agents to connect. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, vitae, magnam, facilis ipsa commodi ad provident inventore ratione voluptatem vero quis ut similique minus fuga dolore soluta temporibus culpa quibusdam.</p>
</div>